body {
    margin: 0px;
    padding: 0px;
    font-family: arial;
    background-color: #ebebeb;
}

header {
    margin: 0px;
    padding: 10px;
    position: fixed;
    background-color: #ebebeb;
    width: 100%;
}

header img {
    margin: 0px;
    top: 5px;
    display: inline-block;
    position: relative;
    max-width: 50px;
    width: 100%;
}

header h1 {
    display: inline-block;
    position: relative;
    margin: 0px;
    top: -10px;
}

#menubar {
    padding-right: 100px;
    position: sticky;
    top: 80px;
    background-color: #7395ae;
    text-align: right;
    text-decoration: none;
    color: white;
}

#menubar ul {
    padding: 8px;
    margin: 0;
    position: relative;
    list-style-type: none;
    font-size: 14px;
    white-space: nowrap;
}

#menubar li {
    display: inline-block;
    width: 10%;
}

a {
    padding: 5px;
    color: #ffffff;
    text-decoration: none;
}

a.home {
    color: #bfbfbf;
}

#bimage {
    width: 100%;
}

#logo {
    margin: 5px;
    padding: 0px;
    float: right;
}

h2 {
    margin-left: 40px;
    padding: 10px;
}

#bodytext p {
    margin-left: 100px;
    margin-right: 100px;
}

#lvl1{
    margin-left: 150px;
    margin-right: 100px;
}

#lvl2{
    margin-left: 150px;
    margin-right: 100px;
}

.footer {
    display: inline-block;
    position: absolute;
    width: 100%;
    background-color: #7395ae;
    margin: 0px;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
}
