body {
    margin: 0px;
    padding: 0px;
    font-family: arial;
    background-color: #bebebe;
}
.container {
    margin: 0px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "header header"
        "nav nav"
        "banner banner"
        "main main"
        "footer footer";
}
.header {
    margin: 0px;
    grid-area: header;
    grid-gap: 0px;
    display: grid;
    grid-template-columns: .5fr auto;
    grid-template-areas: 
        "image header";
}
.header #sfbadge {
    padding: auto;
    justify-content: left;
    max-height: 50px;
    grid-area: image;
}
.header h1 {
    padding: auto;
    margin: 10px auto;
    justify-content: center;
    align-content: center;
    grid-area: header;
    text-shadow: 1px 1px 3px #808080;
}
.banner {
    grid-area: banner;
}
#bimage {
    width: 100%;
    border-radius: 5px;
}
nav {
    margin: 0px;
    padding: 10px 40px 10px 10px;
    position: sticky;
    top: 0px;
    background-color: #7ca0ba;
    border-top: solid #7ca0ba;
    border-radius: 5px;
    border-bottom: 5px solid #6487a1;
    grid-area: nav;
    text-align: right;
    font-size: 14px;
    word-spacing: 5px;
    box-shadow: 0px 4px 8px #656565;
}
nav .icon {
    display: none;
}
main #logo {
    margin: 5px;
    padding: 0px;
    float: right;
}
main {
    grid-area: main;
}
main h2 {
    margin-left: 40px;
    padding: 10px;
}
hr {
    border: 2px solid #818181;
    border-radius: 5px;
}
main p {
    margin: 0px 100px 0px 100px;
    padding: 5px;
}
main #lvl1{
    margin-left: 150px;
    margin-right: 100px;
}
main #lvl2{
    margin-left: 150px;
    margin-right: 100px;
}
.footer {
    background-color: #7395ae;
    border-radius: 5px 5px 0px 0px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    grid-area: footer;
    position: sticky;
    /* bottom: 0; */
    text-align: center;
    font-size: 12px;
    color: #ffffff;
}
@media screen and (min-width: 900px) {
    .container {
        margin: 0px;
        padding: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "header header"
            "nav nav"
            "banner banner"
            "main main"
            "footer footer";
    }
    nav {
        margin: 0px;
        position: sticky;
        top: 0px;
        background-color: #7ca0ba;
        border-top: solid #7ca0ba;
        border-radius: 5px;
        border-bottom: 5px solid #6487a1;
        grid-area: nav;
        padding-right: 50px;
        text-align: right;
    }
    nav a {
        /* tab - top right bottom left */
        padding: 15px 20px 10px 20px;
        color: #ffffff;
        text-decoration: none;
        border-left: 0px solid #7ca0ba;
        border-right: 0px solid #7ca0ba;
        border-radius: 5px;
    }
    nav a:hover {
        border-left: 2px solid #bebebe;
        border-right: 2px solid #bebebe;
        border-radius: 8px 8px 0px 0px;
        color: #ffffff;
        font-size: 14px;
        background-color: #6487a1;
        transition: .2s ease-in-out;
    }
    main #logo {
        margin: 5px;
        padding: 0px;
        float: right;
    }
}

@media screen and (max-width: 900px) {
    .container {
        margin: 0px;
        padding: 5px;
        display: grid;
        grid-template-columns: .4fr 1fr 1fr;
        grid-template-areas: 
            "header header header"
            "nav banner banner"
            "nav main main"
            "nav footer footer";
    }
    .header h1 {
        font-size: 1.5em;
    }
    nav {
        margin: 0;
        padding: 0;
        position: sticky;
        top: 0;
        background-color: #7ca0ba;
        border-top: solid #7ca0ba;
        border-radius: 5px;
        border-right: 5px solid #6487a1;
        border-bottom: none;
        /* grid-area: nav; */
        text-align: right;
        font-size: 14px;
        list-style-type: none;
        line-height: 4rem;
    }
    nav .icon {
        display: none;
    }
    nav a {
        margin: 0px;
        padding: 10px 30px 10px 10px;
        color: #ffffff;
        text-decoration: none;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    nav a:hover {
        background-color: #6487a1;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        color: #ffffff;
        font-size: 14px;
        transition: .5s ease-in-out;
    }
    main #logo {
        margin: 5px;
        padding: 0px;
        float: right;
        max-width: 250px;
    }
}

@media screen and (max-width: 650px) {
    .container {
        margin: 0px;
        padding: 5px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "nav"
            "banner"
            "main"
            "footer";
    }
    .header h1 {
        font-size: 1.4em;
    }
    nav {
        margin: 0px;
        padding: 10px;
        position: sticky;
        top: 0px;
        border: none;
        background-color: #7ca0ba;
        grid-area: nav;
        text-align: right;
        font-size: 14px;
        list-style-type: none;
        line-height: 1rem;
    }
    nav a:not(:first-child) {
        display: none;
        padding: 5px;
        margin: 0;
    }
    nav a {
        margin: 0px;
        padding: 5px;
        color: #ffffff;
        text-decoration: none;
    }
    nav a:hover {
        margin: 0px;
        padding: 0px;
        background-color: #6487a1;
        border-radius: 8px;
        color: #ffffff;
        font-size: 14px;
    }
    nav a.icon {
        display: block;
        float: right;
        padding-right: 20px;
    }
    .active {
        display: block;
        float: left;
    }
    nav.responsive {
        display: block;
        width: auto;
        text-align: left;
        position: sticky;
        top: 0px;
    }
    nav.responsive .icon {
        position: absolute;
        right: 25px;
        top: 10px;
    }
    nav.responsive a {
        float: none;
        display: block;
        text-align: left;
        padding: 10px;
    }
    nav.responsive a:hover {
        background-color: #6487a1;
        border-radius: 8px;
        color: #ffffff;
        font-size: 14px;
    }
    .banner {
        grid-area: banner;
    }
    main p {
        margin: 0px 50px 0px 50px;
        padding: 5px;
    }
    main #lvl1{
        margin-left: 50px;
        margin-right: 25px;
    }
    main #lvl2{
        margin-left: 50px;
        margin-right: 25px;
    }
    main #logo {
        margin: 5px;
        padding: 0px;
        float: right;
        max-width: 200px;
    }
}