body {
    margin: 0px;
    padding: 0px;
    font-family: arial;
    background-color: #bebebe;
}
.container {
    margin: 0px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "header header"
        "menubar menubar"
        "banner banner"
        "main main"
        "footer footer";
}
.header {
    margin: 0px;
    grid-area: header;
    grid-gap: 0px;
    display: grid;
    height: auto;
    grid-template-areas: 
        "image header";
}
.header #sfbadge {
    padding: auto;
    justify-content: left;
    max-height: 50px;
    grid-area: image;
}
.header h1 {
    padding: auto;
    margin: 10px auto;
    justify-content: center;
    grid-area: header;
}
.banner {
    grid-area: banner;
}
#bimage {
    width: 100%;
    border-radius: 5px;
}
.menu {
    margin: 0px;
    padding: 10px 40px 10px 10px;
    position: relative;
    background-color: #7ca0ba;
    border-top: solid #7ca0ba;
    border-radius: 5px;
    border-bottom: 5px solid #6487a1;
    grid-area: menubar;
    text-align: right;
    font-size: 14px;
    white-space: none;
}
.menu .icon {
    display: none;
}
.main #logo {
    margin: 5px;
    padding: 0px;
    float: right;
}
.main {
    grid-area: main;
}
.main h2 {
    margin-left: 40px;
    padding: 10px;
}
hr {
    border: 2px solid #818181;
    border-radius: 5px;
}
.main p {
    margin: 0px 100px 0px 100px;
    padding: 5px;
}
.main #lvl1{
    margin-left: 150px;
    margin-right: 100px;
}
.main #lvl2{
    margin-left: 150px;
    margin-right: 100px;
}
.footer {
    background-color: #7395ae;
    border-radius: 5px 5px 0px 0px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    grid-area: footer;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
}
@media only screen and (min-width: 900px) {
    .container {
        margin: 0px;
        padding: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "header header"
            "menubar menubar"
            "banner banner"
            "main main"
            "footer footer";
    }
    .menu {
        margin: 0px;
        background-color: #7ca0ba;
        border-top: solid #7ca0ba;
        border-radius: 5px;
        border-bottom: 5px solid #6487a1;
        grid-area: menubar;
        padding-right: 50px;
        text-align: right;
    }
    .menu ul {
        padding: 10px;
        margin: 0px;
        position: relative;
        list-style-type: none;
        font-size: 14px;
        white-space: none;
    }
    .menu li {
        display: inline-block;
        width: 10%;
    }
    .menu a {
        /* tab - top right bottom left */
        padding: 15px 20px 10px 20px;
        color: #ffffff;
        text-decoration: none;
        border-left: 0px solid #7ca0ba;
        border-right: 0px solid #7ca0ba;
        border-radius: 5px;
    }
    .menu a:hover {
        /* weight style color */
        border-left: 2px solid #bebebe;
        border-right: 2px solid #bebebe;
        border-radius: 8px 8px 0px 0px;
        color: #ffffff;
        font-size: 14px;
        background-color: #6487a1;
        transition: .2s ease-in-out;
    }
    .main #logo {
        margin: 5px;
        padding: 0px;
        float: right;
    }
}

@media screen and (max-width: 900px) {
    .container {
        margin: 0px;
        padding: 5px;
        display: grid;
        grid-template-columns: .4fr 1fr 1fr;
        grid-template-areas: 
            "header header header"
            "menubar banner banner"
            "menubar main main"
            "footer footer footer";
    }
    .header h1 {
        font-size: 1.5em;
    }
    .menu {
        margin: 0;
        padding: 0;
        background-color: #7ca0ba;
        border-top: solid #7ca0ba;
        border-radius: 5px;
        border-right: 5px solid #6487a1;
        grid-area: menubar;
        text-align: right;
        font-size: 14px;
        list-style-type: none;
        line-height: 4rem;
    }
    .menu .icon {
        display: none;
    }
    .menu a {
        /* tab - top right bottom left */
        margin: 0px;
        padding: 10px 30px 10px 10px;
        color: #ffffff;
        text-decoration: none;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    .menu a:hover {
        /* weight style color */
        background-color: #6487a1;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        color: #ffffff;
        font-size: 14px;
        transition: .5s ease-in-out;
    }
    .main #logo {
        margin: 5px;
        padding: 0px;
        float: right;
    }
}

@media screen and (max-width: 650px) {
    .container {
        margin: 0px;
        padding: 5px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "menubar"
            "banner"
            "main"
            "footer";
    }
    .menu {
        background-color: #7ca0ba;
        border-top: solid #7ca0ba;
        border-radius: 5px;
        border-right: 5px solid #6487a1;
        grid-area: menubar;
        text-align: right;
        font-size: 14px;
        list-style-type: none;
    }
    .menu a:not(:first-child) {
        display: none;
        padding: 5px;
        margin: 0;
    }
    .menu a {
        /* tab - top right bottom left */
        margin: 0px;
        padding: 5px;
        color: #ffffff;
        text-decoration: none;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    .menu a.icon {
        display: block;
        float: right;
    }
    .active {
        display: block;
        float: left;
    }
    .menu.responsive {
        position: relative;
    }
    .menu.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .menu.responsive a {
        float: none;
        display: block;
        text-align: left;
        padding: 5px;
    }
    .menu.responsive a:hover {
        background-color: #6487a1;
        border-radius: 8px;
        color: #ffffff;
        font-size: 14px;
    }
    .banner {
        grid-area: banner;
    }
}